@charset "UTF-8";
/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400");
/* line 85, ../scss/component/_mixins.scss */
.round-corners img,
.round-corners {
  border-radius: 10px;
}

@font-face {
  font-family: 'wellbeing_icons';
  src: url("font/wellbeing_icons.eot?36696632");
  src: url("font/wellbeing_icons.eot?36696632#iefix") format("embedded-opentype"), url("font/wellbeing_icons.woff2?36696632") format("woff2"), url("font/wellbeing_icons.woff?36696632") format("woff"), url("font/wellbeing_icons.ttf?36696632") format("truetype"), url("font/wellbeing_icons.svg?36696632#wellbeing_icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 43, ../scss/component/_fonts.scss */
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #494948;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}
/* line 50, ../scss/component/_fonts.scss */
body:not(.cke_editable) {
  background: #fff;
}

/* line 54, ../scss/component/_fonts.scss */
h1,
h2,
h3,
h1 *,
h2 *,
h3 * {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  line-height: 1.1;
}

/* line 63, ../scss/component/_fonts.scss */
label,
.field--label,
caption,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  line-height: 1.1;
  margin: 1em 0 0.25em 0;
}

/* line 77, ../scss/component/_fonts.scss */
h1,
.h1 {
  font-size: 30px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
@media all and (min-width: 768px) {
  /* line 77, ../scss/component/_fonts.scss */
  h1,
  .h1 {
    font-size: 33px;
  }
}

/* line 86, ../scss/component/_fonts.scss */
h2,
.h2 {
  font-size: 28px;
  margin-top: 20px;
}

/* line 92, ../scss/component/_fonts.scss */
h3,
.h3 {
  font-size: 21px;
  margin-top: 15px;
}

/* line 102, ../scss/component/_fonts.scss */
h2 strong,
h3 strong,
h4 strong {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}

/* line 107, ../scss/component/_fonts.scss */
h1.page-header {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  border: none;
  padding: 0;
  padding-bottom: 9px;
  margin: 20px 0 20px;
}

/* line 115, ../scss/component/_fonts.scss */
.field--label {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 28px;
}

/* line 120, ../scss/component/_fonts.scss */
strong,
b {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}

/* line 125, ../scss/component/_fonts.scss */
em,
i {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400i;
}

/* line 130, ../scss/component/_fonts.scss */
em strong,
i b,
strong em,
b i {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600i;
}

/* line 138, ../scss/component/_fonts.scss */
p {
  margin: 0 0 1em 0;
}

/* line 142, ../scss/component/_fonts.scss */
li:not(.menu-item) {
  margin: 0 0 0.5em 0;
}
/* line 144, ../scss/component/_fonts.scss */
li:not(.menu-item) p {
  margin-bottom: 0.25em;
}
/* line 146, ../scss/component/_fonts.scss */
li:not(.menu-item) p:last-child {
  margin-bottom: 0.5em;
}

/* line 152, ../scss/component/_fonts.scss */
ol,
ul {
  padding-left: 1em;
  margin-bottom: 1em;
}

/* line 159, ../scss/component/_fonts.scss */
hr {
  clear: both;
  float: none;
  border: none;
  border: #818181 1px solid;
}

/* line 167, ../scss/component/_fonts.scss */
blockquote {
  margin: 0 0 1em 0;
  padding: 1em;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-style: italic;
  font-size: inherit;
  border: none;
}
/* line 174, ../scss/component/_fonts.scss */
blockquote p,
blockquote li {
  line-height: inherit;
  margin-bottom: 0.5em;
}
/* line 178, ../scss/component/_fonts.scss */
blockquote p:last-child,
blockquote li:last-child {
  margin-bottom: 0;
}

/* line 184, ../scss/component/_fonts.scss */
.field--type-text-long.field--label-above,
.field--type-text-with-summary {
  margin: 0 0 1em 0;
  font-size: 19px;
}

/* line 191, ../scss/component/_fonts.scss */
.field--type-text-long.serif,
.field--type-text-with-summary.serif {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  margin: 0 0 1em 0;
  font-size: 19px;
}
/* line 196, ../scss/component/_fonts.scss */
.field--type-text-long.serif strong, .field--type-text-long.serif b,
.field--type-text-with-summary.serif strong,
.field--type-text-with-summary.serif b {
  font-family: 'Merriweather', serif;
  font-weight: 600;
}
/* line 198, ../scss/component/_fonts.scss */
.field--type-text-long.serif em, .field--type-text-long.serif i,
.field--type-text-with-summary.serif em,
.field--type-text-with-summary.serif i {
  font-family: 'Merriweather', serif;
  font-weight: 300i;
}

/* line 202, ../scss/component/_fonts.scss */
.gm-style {
  font-family: "Work Sans", sans-serif !important;
  font-weight: 400 !important;
}
/* line 205, ../scss/component/_fonts.scss */
.gm-style h2,
.gm-style h3,
.gm-style h4,
.gm-style strong {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
/* line 211, ../scss/component/_fonts.scss */
.gm-style h2,
.gm-style h3,
.gm-style h4,
.gm-style p {
  margin: 0 0 5px 0;
}

/* line 220, ../scss/component/_fonts.scss */
table {
  font-size: 15px;
  line-height: 1.4;
  background: #f2f2f4;
  margin: 0 0 1em 0;
}
/* line 225, ../scss/component/_fonts.scss */
table ul,
table li,
table p {
  margin: 0;
}

/* line 232, ../scss/component/_fonts.scss */
th,
td {
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #818181;
  padding: 6px;
}
/* line 237, ../scss/component/_fonts.scss */
th:first-child,
td:first-child {
  padding-left: 12px;
}
/* line 240, ../scss/component/_fonts.scss */
th:last-child,
td:last-child {
  padding-right: 12px;
}

/* line 245, ../scss/component/_fonts.scss */
th {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  border-width: 2px;
  background: #d6d6dd;
}

/* line 252, ../scss/component/_fonts.scss */
tr:first-child th,
tr:first-child td {
  border-top: 2px solid #818181;
}

/* line 259, ../scss/component/_fonts.scss */
tr:last-child th,
tr:last-child td {
  border-width: 2px;
}

/* line 2, ../scss/component/_navigation.scss */
.region a:link,
.region a:visited {
  color: #98358c;
  text-decoration: none;
}
/* line 7, ../scss/component/_navigation.scss */
.region a:hover {
  text-decoration: underline;
  color: #56145b;
}
/* line 11, ../scss/component/_navigation.scss */
.region .field p a:link,
.region .field li a:link {
  text-decoration: underline;
}

/* line 17, ../scss/component/_navigation.scss */
.breadcrumb {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  color: #818181;
  padding: 0;
  margin: 0 0 1em 0;
  border-top: none;
  background: transparent;
}
/* line 25, ../scss/component/_navigation.scss */
.breadcrumb li a:link,
.breadcrumb li a:visited {
  color: #818181;
  text-decoration: none;
}
/* line 30, ../scss/component/_navigation.scss */
.breadcrumb li a:hover,
.breadcrumb li a:active {
  color: #494948;
  text-decoration: underline;
}
/* line 36, ../scss/component/_navigation.scss */
.breadcrumb > li + li:before {
  content: "> ";
  padding: 0 5px;
  color: #ccc;
}

/* line 45, ../scss/component/_navigation.scss */
.navbar-toggle {
  float: left;
  border: none;
  border-radius: 0;
  margin-right: 10px;
  padding: 10px;
}
/* line 51, ../scss/component/_navigation.scss */
.navbar-toggle .icon-bar {
  height: 3px;
  margin: 9px 0;
  width: 42px;
  background: #f2f2f4;
  border-radius: 0px;
}
/* line 58, ../scss/component/_navigation.scss */
.navbar-toggle:hover, .navbar-toggle:active {
  background: transparent !important;
  cursor: pointer;
}
/* line 62, ../scss/component/_navigation.scss */
.navbar-toggle:hover .icon-bar, .navbar-toggle:active .icon-bar {
  background: #fff;
}

/* line 69, ../scss/component/_navigation.scss */
.nav-label {
  color: #818181;
  text-transform: uppercase;
  float: right;
  margin-right: 0.5em;
  line-height: 51px;
}

/* line 81, ../scss/component/_navigation.scss */
.navbar-toggle {
  display: block;
}

/* line 85, ../scss/component/_navigation.scss */
.nav-label {
  display: block;
}

@media all and (min-width: 768px) {
  /* line 96, ../scss/component/_navigation.scss */
  .navbar-toggle {
    display: none;
  }

  /* line 99, ../scss/component/_navigation.scss */
  .nav-label {
    display: none;
  }
}
/* line 104, ../scss/component/_navigation.scss */
.navbar-collapse {
  background: #fff;
}
/* line 106, ../scss/component/_navigation.scss */
.navbar-collapse .container-fluid {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 93, ../scss/component/_mixins.scss */
.navbar-collapse .container-fluid .menu, .navbar-collapse .container-fluid ul, .navbar-collapse .container-fluid li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 110, ../scss/component/_navigation.scss */
.navbar-collapse .container-fluid .menu.nav li {
  line-height: 1.2;
}
/* line 111, ../scss/component/_navigation.scss */
.navbar-collapse .container-fluid .menu.nav li a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #494948;
  font-size: 25px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 2px 0;
  margin: 4px 0;
}
/* line 119, ../scss/component/_navigation.scss */
.navbar-collapse .container-fluid .menu.nav li a:hover {
  color: #da8b0a;
  background: transparent;
  text-decoration: none;
}
/* line 124, ../scss/component/_navigation.scss */
.navbar-collapse .container-fluid .menu.nav li a:focus {
  background: transparent;
}
/* line 127, ../scss/component/_navigation.scss */
.navbar-collapse .container-fluid .menu.nav li a.is-active {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  color: #da8b0a;
  cursor: default;
  border-bottom: 4px solid #da8b0a;
}
/* line 134, ../scss/component/_navigation.scss */
.navbar-collapse .container-fluid .menu.nav li ul {
  padding-left: 0.5em;
}
/* line 137, ../scss/component/_navigation.scss */
.navbar-collapse .container-fluid .menu.nav li ul li a {
  text-transform: none;
  font-size: 21px;
  padding: 1px 0;
  border-width: 3px;
}
/* line 143, ../scss/component/_navigation.scss */
.navbar-collapse .container-fluid .menu.nav li ul li li a {
  font-size: 19px;
  border-width: 3px;
}
/* line 150, ../scss/component/_navigation.scss */
.navbar-collapse .container-fluid .menu.nav li .menu.nav li {
  line-height: 1;
  padding: 3px 0;
  float: none;
  display: block;
}

@media all and (min-width: 768px) {
  /* line 160, ../scss/component/_navigation.scss */
  .navbar-collapse .menu.nav {
    float: none;
    display: flex !important;
    justify-content: space-around;
  }
}
@media all and (min-width: 768px) and (min-width: 960px) {
  /* line 160, ../scss/component/_navigation.scss */
  .navbar-collapse .menu.nav {
    justify-content: space-between;
  }
}
@media all and (min-width: 768px) {
  /* line 167, ../scss/component/_navigation.scss */
  .navbar-collapse .menu.nav > li {
    display: list-item;
    padding: 4px 0;
    text-align: left;
  }
  /* line 171, ../scss/component/_navigation.scss */
  .navbar-collapse .menu.nav > li a {
    margin: 0;
    display: block;
    padding: 0;
  }
  /* line 175, ../scss/component/_navigation.scss */
  .navbar-collapse .menu.nav > li ul {
    display: none;
  }
  /* line 177, ../scss/component/_navigation.scss */
  .navbar-collapse .menu.nav:after, .navbar-collapse .menu.nav:before {
    display: none;
  }

  /*/ === Sticky menu  === /*/
  /* line 183, ../scss/component/_navigation.scss */
  .navbar-collapse.stickynav-active {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
  }
  /* line 185, ../scss/component/_navigation.scss */
  .navbar-collapse.stickynav-active .container-fluid {
    transition: padding 0.125s ease-in;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* line 189, ../scss/component/_navigation.scss */
  .navbar-collapse.stickynav-active .container-fluid .menu.nav li a {
    padding: 1px 0 2px 0;
    transition: padding 0.125s ease-in;
  }

  /* line 195, ../scss/component/_navigation.scss */
  .navbar-collapse:not(.stickynav-active) .container-fluid {
    transition: padding 0.125s ease-out;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  /* line 199, ../scss/component/_navigation.scss */
  .navbar-collapse:not(.stickynav-active) .container-fluid .menu.nav li a {
    padding: 3px 0 6px 0;
    transition: padding 0.125s ease-out;
  }

  /* line 204, ../scss/component/_navigation.scss */
  .is-stickynav.path-frontpage .main-container {
    padding-top: 7em;
  }

  /* line 207, ../scss/component/_navigation.scss */
  .is-stickynav:not(.path-frontpage) .main-container {
    padding-top: 4.5em;
  }
}
/*/ === level-2-nav === /*/
/* line 213, ../scss/component/_navigation.scss */
.level-2-nav {
  display: none;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
/* line 93, ../scss/component/_mixins.scss */
.level-2-nav .menu, .level-2-nav ul, .level-2-nav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 217, ../scss/component/_navigation.scss */
.level-2-nav .menu.nav > li {
  float: none;
}
/* line 219, ../scss/component/_navigation.scss */
.level-2-nav .menu.nav > li > a {
  background: transparent;
  color: #494948;
  padding: 0;
  display: inline-block;
  margin: 3px 0;
}
/* line 225, ../scss/component/_navigation.scss */
.level-2-nav .menu.nav > li > a:hover {
  color: #da8b0a;
  background: transparent;
  text-decoration: none;
}
/* line 230, ../scss/component/_navigation.scss */
.level-2-nav .menu.nav > li > a:focus {
  background: transparent;
}
/* line 233, ../scss/component/_navigation.scss */
.level-2-nav .menu.nav > li > a.is-active {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #da8b0a;
  cursor: default;
  border-bottom: 4px solid #da8b0a;
}
@media all and (min-width: 768px) {
  /* line 213, ../scss/component/_navigation.scss */
  .level-2-nav {
    display: block;
  }
}

/*/ === Footer site map === /*/
/* line 93, ../scss/component/_mixins.scss */
.sitemap_block .menu, .sitemap_block ul, .sitemap_block li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 250, ../scss/component/_navigation.scss */
.sitemap_block ul.menu.nav > li {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 19px;
  display: block;
  padding: 0 30px 0px 0;
}
@media all and (min-width: 768px) {
  /* line 250, ../scss/component/_navigation.scss */
  .sitemap_block ul.menu.nav > li {
    float: left;
  }
}
/* line 258, ../scss/component/_navigation.scss */
.sitemap_block ul.menu.nav > li a {
  color: #000;
}
/* line 261, ../scss/component/_navigation.scss */
.sitemap_block ul.menu.nav > li a:hover {
  text-decoration: underline;
}
/* line 265, ../scss/component/_navigation.scss */
.sitemap_block ul.menu.nav > li ul.menu {
  padding: 4px 0 8px 0;
}
/* line 266, ../scss/component/_navigation.scss */
.sitemap_block ul.menu.nav > li ul.menu li {
  font-size: 16px;
}
/* line 268, ../scss/component/_navigation.scss */
.sitemap_block ul.menu.nav > li ul.menu li a {
  margin: 3px 0;
}

/*/ === Fancy dancing hamburger === /*/
/* line 280, ../scss/component/_navigation.scss */
.navbar-toggle {
  background: transparent;
  overflow: hidden;
}
/* line 282, ../scss/component/_navigation.scss */
.navbar-toggle .icon-bar {
  transition: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.7, 0, 0, 0.7);
}
/* line 289, ../scss/component/_navigation.scss */
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  transform: translateY(12px) rotate(45deg);
}
/* line 292, ../scss/component/_navigation.scss */
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  opacity: 0;
  transform: translateX(-100%);
}
/* line 296, ../scss/component/_navigation.scss */
.navbar-toggle:not(.collapsed) .icon-bar:nth-child(4) {
  transform: translateY(-12px) rotate(-45deg);
}
/* line 301, ../scss/component/_navigation.scss */
.navbar-toggle:active {
  background: transparent;
}

/* line 312, ../scss/component/_navigation.scss */
.pagination > li > a, .pagination > li > span,
.pager li > a, .pager li > span,
.button,
.btn {
  font-size: 120%;
  line-height: 1.1;
  color: #98358c;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  border: 3px solid #98358c;
  outline: none;
  display: inline-block;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  text-decoration: none !important;
  transition: background 0.05s ease 0s;
}
/* line 328, ../scss/component/_navigation.scss */
.pagination > li > a:hover, .pagination > li > span:hover,
.pager li > a:hover, .pager li > span:hover,
.button:hover,
.btn:hover {
  text-decoration: none;
  background: #98358c;
  border-color: #98358c;
  color: #fff !important;
  text-decoration: none !important;
  cursor: pointer;
}
/* line 344, ../scss/component/_navigation.scss */
.pagination > li > a:active, .pagination > li > span:active,
.pager li > a:active, .pager li > span:active,
.button:active,
.btn:active {
  color: #fff !important;
  background: #56145b !important;
  border-color: #56145b !important;
  transition: all 0.05s linear;
  text-decoration: none !important;
  cursor: pointer;
  color: #fff;
}
/* line 353, ../scss/component/_navigation.scss */
.pagination > li > a.small, .pagination > li > span.small,
.pager li > a.small, .pager li > span.small,
.button.small,
.btn.small {
  border-width: 2px;
  font-size: 110%;
}
/* line 357, ../scss/component/_navigation.scss */
.pagination > li > a.verysmall, .pagination > li > a.media-library-open-button, .pagination > li > a.media-library-add-button, .pagination > li > span.verysmall, .pagination > li > span.media-library-open-button, .pagination > li > span.media-library-add-button,
.pager li > a.verysmall,
.pager li > a.media-library-open-button,
.pager li > a.media-library-add-button, .pager li > span.verysmall, .pager li > span.media-library-open-button, .pager li > span.media-library-add-button,
.button.verysmall,
.button.media-library-open-button,
.button.media-library-add-button,
.btn.verysmall,
.btn.media-library-open-button,
.btn.media-library-add-button {
  border-width: 2px;
  font-size: 100%;
}
/* line 363, ../scss/component/_navigation.scss */
.pagination > li > a.white, .pagination > li > span.white,
.pager li > a.white, .pager li > span.white,
.button.white,
.btn.white {
  color: #fff;
  border-color: #fff;
}
/* line 366, ../scss/component/_navigation.scss */
.pagination > li > a.white:hover, .pagination > li > span.white:hover,
.pager li > a.white:hover, .pager li > span.white:hover,
.button.white:hover,
.btn.white:hover {
  color: #98358c;
  background: #fff;
  border-color: #fff;
}
/* line 373, ../scss/component/_navigation.scss */
.pagination > li > a:not(.pull-right), .pagination > li > span:not(.pull-right),
.pager li > a:not(.pull-right), .pager li > span:not(.pull-right),
.button:not(.pull-right),
.btn:not(.pull-right) {
  margin-right: 1em;
}

/* line 376, ../scss/component/_navigation.scss */
.btn .glyphicon.icon-before:not(.glyphicon-search),
.btn.icon-before .glyphicon:not(.glyphicon-search) {
  margin: 0;
}
/* line 379, ../scss/component/_navigation.scss */
.btn .glyphicon.icon-before:not(.glyphicon-search)::before,
.btn.icon-before .glyphicon:not(.glyphicon-search)::before {
  content: "";
}

/* line 386, ../scss/component/_navigation.scss */
.pager li > a,
.pager li > span {
  font-size: 110%;
  border-width: 2px;
}

/* line 393, ../scss/component/_navigation.scss */
.pager li.previous:not(:last-child) {
  display: inline-block;
  width: 48.5%;
}
/* line 396, ../scss/component/_navigation.scss */
.pager li.previous:not(:last-child) a {
  float: right;
  margin-right: 0em;
}
/* line 402, ../scss/component/_navigation.scss */
.pager li.next:not(:first-child) {
  display: inline-block;
  width: 48.5%;
}
/* line 405, ../scss/component/_navigation.scss */
.pager li.next:not(:first-child) a {
  float: left;
  margin-left: 0em;
}
/* line 410, ../scss/component/_navigation.scss */
.pager li.previous:last-child > a, .pager li.next:first-child > a {
  float: none;
}
/* line 414, ../scss/component/_navigation.scss */
.more .pager li a {
  color: #494948;
  border-color: #494948;
  background-color: transparent;
}
/* line 418, ../scss/component/_navigation.scss */
.more .pager li a:hover {
  color: #fff;
  background-color: #494948;
}

/* line 427, ../scss/component/_navigation.scss */
.pagination > li > a,
.pagination > li > span {
  font-size: 110%;
  border-width: 2px;
  border-radius: 0;
  border-collapse: separate;
  border-right-width: 1px;
  border-left-width: 1px;
  background-color: transparent;
}
/* line 436, ../scss/component/_navigation.scss */
.pagination > li > a[rel="last"],
.pagination > li > span[rel="last"] {
  border-right-width: 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 441, ../scss/component/_navigation.scss */
.pagination > li > a[rel="first"],
.pagination > li > span[rel="first"] {
  border-left-width: 2px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* line 446, ../scss/component/_navigation.scss */
.more .pagination > li > a:not([title="Current page"]), .more
.pagination > li > span:not([title="Current page"]) {
  color: #494948;
  border-color: #494948;
}
/* line 449, ../scss/component/_navigation.scss */
.more .pagination > li > a:not([title="Current page"]):hover, .more
.pagination > li > span:not([title="Current page"]):hover {
  color: #fff;
  background-color: #494948;
}
/* line 454, ../scss/component/_navigation.scss */
.more .pagination > li > a[title="Current page"], .more
.pagination > li > span[title="Current page"] {
  color: #fff;
  border-color: #494948;
  background-color: #494948;
}
/* line 458, ../scss/component/_navigation.scss */
.more .pagination > li > a[title="Current page"]:hover, .more
.pagination > li > span[title="Current page"]:hover {
  color: #fff;
  background-color: #494948;
}

/* line 464, ../scss/component/_navigation.scss */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #98358c;
  border-color: #98358c;
}

/* line 486, ../scss/component/_navigation.scss */
ul.dropdown-menu {
  display: block;
}

/*/  === INLINE IMAGES ===  /*/
/* line 4, ../scss/component/_images.scss */
.embedded-entity {
  margin: 0 0 1em 0;
}
/* line 6, ../scss/component/_images.scss */
.embedded-entity.align-right {
  float: right;
  margin: 0 0 20px 2.5%;
  clear: right;
  max-width: 48.5%;
  width: 48.5%;
}
/* line 12, ../scss/component/_images.scss */
.embedded-entity.align-right img {
  width: 100%;
}
/* line 16, ../scss/component/_images.scss */
.embedded-entity.align-left {
  float: left;
  margin: 0 2.5% 20px 0;
  clear: left;
  max-width: 48.5%;
  width: 48.5%;
}
/* line 23, ../scss/component/_images.scss */
.embedded-entity.align-left img {
  width: 100%;
}
/* line 27, ../scss/component/_images.scss */
.embedded-entity.align-center {
  float: none;
  margin: 15px auto;
  clear: both;
  display: block;
}
/* line 33, ../scss/component/_images.scss */
.embedded-entity .field {
  margin: 0;
}
/* line 36, ../scss/component/_images.scss */
.embedded-entity figcaption {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 90%;
  line-height: 1.3;
  background: #f2f2f4;
  padding: 6px 4px;
}
/* line 41, ../scss/component/_images.scss */
.embedded-entity figcaption:before {
  content: "";
  font-family: 'wellbeing_icons';
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: inherit;
  margin-right: 0.5em;
}
@media all and (max-width: 600px) {
  /* line 48, ../scss/component/_images.scss */
  .embedded-entity.align-left, .embedded-entity.align-right {
    float: none;
    margin: 15px 0;
    clear: both;
    max-width: 100%;
    width: 100%;
  }
}

/*/  ===  Video === /*/
/* line 61, ../scss/component/_images.scss */
.field--name-field-media-oembed-video {
  float: none;
  clear: both;
  margin: 0;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0;
  height: 0;
}
/* line 70, ../scss/component/_images.scss */
.field--name-field-media-oembed-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
}

/* line 11, ../scss/style.scss */
body {
  margin: 0;
  color: #494948;
}

/* line 16, ../scss/style.scss */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
/* line 20, ../scss/style.scss */
body .footer {
  flex: 1;
}

/* line 27, ../scss/style.scss */
.container-fluid {
  background: transparent;
  padding: 15px 30px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}
@media all and (min-width: 768px) {
  /* line 27, ../scss/style.scss */
  .container-fluid {
    padding: 15px;
  }
}

/* line 38, ../scss/style.scss */
header.header,
footer.footer {
  width: 100%;
  padding: 0;
  border: none;
}
/* line 43, ../scss/style.scss */
header.header .nav > li > a,
footer.footer .nav > li > a {
  position: relative;
  display: block;
  padding: 0;
}
/* line 47, ../scss/style.scss */
header.header .nav > li > a:hover,
footer.footer .nav > li > a:hover {
  background: transparent;
  text-decoration: underline;
}
/* line 53, ../scss/style.scss */
header.header .container-fluid > .navbar-header,
header.header .container-fluid > .navbar-collapse,
footer.footer .container-fluid > .navbar-header,
footer.footer .container-fluid > .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
  float: none;
}

/* line 61, ../scss/style.scss */
header.header {
  background: #98358c;
}
/* line 63, ../scss/style.scss */
header.header .container-fluid {
  padding-top: 15px;
  padding-bottom: 5px;
}
@media all and (min-width: 768px) {
  /* line 63, ../scss/style.scss */
  header.header .container-fluid {
    background: url("/themes/communitywellbeing/css/img/CW-symbol-purpletint.svg") no-repeat right center;
    background-size: 24em 24em;
    padding-bottom: 15px;
  }
}
/* line 72, ../scss/style.scss */
header.header .region-navigation {
  width: 100%;
}
/* line 75, ../scss/style.scss */
header.header .logo.navbar-btn.pull-left {
  float: right !important;
  height: 80px;
  width: 80px;
  margin: 0;
  overflow: hidden;
}
/* line 81, ../scss/style.scss */
header.header .logo.navbar-btn.pull-left img {
  height: 80px;
  overflow: hidden;
}
@media all and (min-width: 768px) {
  /* line 75, ../scss/style.scss */
  header.header .logo.navbar-btn.pull-left {
    float: left !important;
    height: 100px;
    overflow: visible;
  }
  /* line 90, ../scss/style.scss */
  header.header .logo.navbar-btn.pull-left img {
    height: 100px;
    width: auto;
  }
}

/* line 97, ../scss/style.scss */
footer.footer {
  color: #000;
  margin: 0;
  background: url("/themes/communitywellbeing/css/img/CW-footer-image.jpg") no-repeat #da8b0a center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 105, ../scss/style.scss */
footer.footer .sitemap_block,
footer.footer .about_block,
footer.footer .contact_block {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
/* line 109, ../scss/style.scss */
footer.footer .sitemap_block h2,
footer.footer .about_block h2,
footer.footer .contact_block h2 {
  font-size: 24px;
  margin-bottom: 17px;
}
/* line 113, ../scss/style.scss */
footer.footer .sitemap_block a,
footer.footer .about_block a,
footer.footer .contact_block a {
  color: #000;
}
/* line 115, ../scss/style.scss */
footer.footer.image0 {
  background-image: url("/themes/communitywellbeing/css/img/FooterImage-1.jpg");
}
/* line 116, ../scss/style.scss */
footer.footer.image1 {
  background-image: url("/themes/communitywellbeing/css/img/FooterImage-2.jpg");
}
/* line 117, ../scss/style.scss */
footer.footer.image2 {
  background-image: url("/themes/communitywellbeing/css/img/FooterImage-3.jpg");
}
/* line 118, ../scss/style.scss */
footer.footer.image3 {
  background-image: url("/themes/communitywellbeing/css/img/FooterImage-4.jpg");
}
/* line 119, ../scss/style.scss */
footer.footer.image4 {
  background-image: url("/themes/communitywellbeing/css/img/FooterImage-5.jpg");
}
/* line 120, ../scss/style.scss */
footer.footer .sitemap_block {
  float: none;
  clear: both;
}
/* line 125, ../scss/style.scss */
footer.footer .container-fluid {
  background: url("/themes/communitywellbeing/css/img/CW-symbo-white-tint.svg") no-repeat 100% 100%;
  background-size: 320px 320px;
  padding-top: 2em;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
@media all and (min-width: 960px) {
  /* line 125, ../scss/style.scss */
  footer.footer .container-fluid {
    padding-top: 9em;
    margin-bottom: 1em;
    padding-bottom: 3em;
  }
}

@media all and (min-width: 960px) {
  /* line 152, ../scss/style.scss */
  .container-fluid:not(.content-lower),
  .navbar-collapse .container-fluid {
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media all and (min-width: 960px) {
  /* line 160, ../scss/style.scss */
  .path-frontpage :not(.navbar-collapse) .container-fluid,
  .path-articles-tagged-by :not(.navbar-collapse) .container-fluid,
  .path-frontpage :not(.navbar-collapse) .container-fluid,
  .path-articles :not(.navbar-collapse) .container-fluid,
  footer.footer .container-fluid,
  header.header .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

/* line 172, ../scss/style.scss */
.region-content-lower {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 178, ../scss/style.scss */
body .main-container {
  padding-top: 20px;
  padding-bottom: 0;
}
/* line 181, ../scss/style.scss */
body .main-container h2.page-type {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 28px 0;
  padding-top: 12px;
  padding-bottom: 12px;
  border-top: 2px solid #494948;
  border-bottom: 2px solid #494948;
}
/* line 191, ../scss/style.scss */
body .main-container h2.page-type.lower {
  margin: 24px 0;
}
/* line 195, ../scss/style.scss */
body .main-container .container-fluid:not(.content-lower) {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 0px;
}
/* line 207, ../scss/style.scss */
body[class*="page-node-type-"] .main-container {
  background: #d4b1cc;
}
/* line 210, ../scss/style.scss */
body[class*="page-node-type-"] .main-container article[role=article] {
  padding-bottom: 15px;
}
/* line 220, ../scss/style.scss */
body.page-node-type-article .main-container {
  background-color: #d8d8e0;
}
/* line 221, ../scss/style.scss */
body.page-node-type-article .main-container blockquote {
  background-color: #e1cadc;
}
/* line 220, ../scss/style.scss */
body.page-node-type-interview .main-container {
  background-color: #d8d8e0;
}
/* line 221, ../scss/style.scss */
body.page-node-type-interview .main-container blockquote {
  background-color: #edbac9;
}
/* line 220, ../scss/style.scss */
body.page-node-type-story .main-container {
  background-color: #d8d8e0;
}
/* line 221, ../scss/style.scss */
body.page-node-type-story .main-container blockquote {
  background-color: #c6afc7;
}
/* line 220, ../scss/style.scss */
body.page-node-type-activity .main-container {
  background-color: #d8d8e0;
}
/* line 221, ../scss/style.scss */
body.page-node-type-activity .main-container blockquote {
  background-color: #f2d8ac;
}
/* line 220, ../scss/style.scss */
body.page-node-type-opinion .main-container {
  background-color: #d8d8e0;
}
/* line 221, ../scss/style.scss */
body.page-node-type-opinion .main-container blockquote {
  background-color: #cea8b4;
}
/* line 230, ../scss/style.scss */
body .main-container {
  padding-top: 30px;
  background: #f2f2f4;
  background: #d8d8e0;
}
/* line 239, ../scss/style.scss */
body.path-articles-tagged-by .main-container .container-fluid, body.path-frontpage .main-container .container-fluid, body.path-articles .main-container .container-fluid {
  padding-top: 0;
  background: #f2f2f4;
  background: #d8d8e0;
}

/* line 251, ../scss/style.scss */
.path-frontpage .page-header {
  font-size: 28px;
  text-align: center;
  margin: 20px 0 10px;
}
/* line 255, ../scss/style.scss */
.path-frontpage .views-element-container.contextual-region.form-group {
  margin-bottom: 0;
}
/* line 256, ../scss/style.scss */
.path-frontpage .front-page-intro {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  text-align: center;
  margin: 0 0 1em 0;
}
@media all and (min-width: 1280px) {
  /* line 264, ../scss/style.scss */
  .path-frontpage .page-header {
    font-size: 33px;
  }
  /* line 265, ../scss/style.scss */
  .path-frontpage .front-page-intro {
    padding: 0 3em;
    font-size: 33px;
  }
}
@media all and (min-width: 920px) {
  /* line 271, ../scss/style.scss */
  .path-frontpage .page-header {
    font-size: 31px;
  }
  /* line 272, ../scss/style.scss */
  .path-frontpage .front-page-intro {
    padding: 0 1.6em;
    font-size: 29px;
  }
}

/* line 282, ../scss/style.scss */
.masonry-layout {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* line 287, ../scss/style.scss */
.articles {
  margin-left: -10px;
  margin-right: -10px;
}
/* line 290, ../scss/style.scss */
.articles .view-header {
  margin: 0 5px 10px 5px;
}
/* line 293, ../scss/style.scss */
.articles .views-row {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}
/* line 300, ../scss/style.scss */
.articles .views-row .wrapper {
  padding: 0 10px 10px 10px;
}
/* line 303, ../scss/style.scss */
.articles .views-row .wrapper h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 -10px 10px -10px;
  padding: 15px 10px 15px 40px;
  position: relative;
}
/* line 312, ../scss/style.scss */
.articles .views-row .wrapper h2::before {
  position: absolute;
  top: 0;
  left: 0px;
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.3em 0 1.3em 1.3em;
  border-color: transparent transparent transparent #98358c;
}
/* line 325, ../scss/style.scss */
.articles .views-row .wrapper h4 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  color: #000;
  font-size: 20px;
  margin: 5px 0;
}
/* line 330, ../scss/style.scss */
.articles .views-row .wrapper h4 a {
  color: #000;
}
/* line 332, ../scss/style.scss */
.articles .views-row .wrapper h4 a:hover {
  text-decoration: none;
}
/* line 337, ../scss/style.scss */
.articles .views-row .wrapper p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 16px;
  line-height: 1.3;
  margin: 10px 0;
}
/* line 343, ../scss/style.scss */
.articles .views-row .wrapper p:last-child {
  margin-bottom: 0;
}
/* line 347, ../scss/style.scss */
.articles .views-row .wrapper .read-more-link {
  float: left;
  margin-bottom: 0;
}
/* line 351, ../scss/style.scss */
.articles .views-row .wrapper .flagging {
  float: right;
  width: 3em;
  position: relative;
}

/* line 362, ../scss/style.scss */
.articles .views-field-nothing {
  background: #98358c;
  color: #000;
  border-color: #000;
}
/* line 367, ../scss/style.scss */
.articles .views-field-nothing:hover {
  background: #494948;
  border-color: #494948;
}
/* line 371, ../scss/style.scss */
.articles .views-field-nothing:active {
  color: #000;
  background: #000;
  border-color: #000;
}
/* line 377, ../scss/style.scss */
.articles .views-field-nothing .btn {
  color: #000;
  border-color: #000;
}
/* line 380, ../scss/style.scss */
.articles .views-field-nothing .btn:focus, .articles .views-field-nothing .btn:hover {
  color: #000 !important;
  border-color: #000;
}
/* line 385, ../scss/style.scss */
.articles .views-field-nothing .btn:active {
  color: #fff !important;
  border-color: #000;
  background: #000;
}
@media all and (max-width: 550px) {
  /* line 392, ../scss/style.scss */
  .articles .masonry-item {
    float: none;
    width: 100%;
  }
}

/* line 404, ../scss/style.scss */
.articles .Article .views-field-nothing {
  background: #fff;
}
/* line 407, ../scss/style.scss */
.articles .Article .views-field-nothing h2 {
  background: url("/themes/communitywellbeing/css/img/Article-black.svg") no-repeat 95% center #f2f2f4;
  background-size: auto 1.4em;
  position: relative;
}
/* line 412, ../scss/style.scss */
.articles .Article .views-field-nothing h2::before {
  border-color: transparent transparent transparent #a86399;
}
/* line 422, ../scss/style.scss */
.articles .Article .views-field-nothing .btn:hover {
  color: #fff !important;
  background-color: #a86399;
  border-color: #a86399;
}
/* line 427, ../scss/style.scss */
.articles .Article .views-field-nothing .btn:active {
  color: #fff;
  background: black;
  border-color: black;
}

/* line 404, ../scss/style.scss */
.articles .Interview .views-field-nothing {
  background: #fff;
}
/* line 407, ../scss/style.scss */
.articles .Interview .views-field-nothing h2 {
  background: url("/themes/communitywellbeing/css/img/Interview-black.svg") no-repeat 95% center #f2f2f4;
  background-size: auto 1.4em;
  position: relative;
}
/* line 412, ../scss/style.scss */
.articles .Interview .views-field-nothing h2::before {
  border-color: transparent transparent transparent #c93360;
}
/* line 422, ../scss/style.scss */
.articles .Interview .views-field-nothing .btn:hover {
  color: #fff !important;
  background-color: #c93360;
  border-color: #c93360;
}
/* line 427, ../scss/style.scss */
.articles .Interview .views-field-nothing .btn:active {
  color: #fff;
  background: black;
  border-color: black;
}

/* line 404, ../scss/style.scss */
.articles .Story .views-field-nothing {
  background: #fff;
}
/* line 407, ../scss/style.scss */
.articles .Story .views-field-nothing h2 {
  background: url("/themes/communitywellbeing/css/img/Story-black.svg") no-repeat 95% center #f2f2f4;
  background-size: auto 1.4em;
  position: relative;
}
/* line 412, ../scss/style.scss */
.articles .Story .views-field-nothing h2::before {
  border-color: transparent transparent transparent #56145b;
}
/* line 422, ../scss/style.scss */
.articles .Story .views-field-nothing .btn:hover {
  color: #fff !important;
  background-color: #56145b;
  border-color: #56145b;
}
/* line 427, ../scss/style.scss */
.articles .Story .views-field-nothing .btn:active {
  color: #fff;
  background: black;
  border-color: black;
}

/* line 404, ../scss/style.scss */
.articles .Activity .views-field-nothing {
  background: #fff;
}
/* line 407, ../scss/style.scss */
.articles .Activity .views-field-nothing h2 {
  background: url("/themes/communitywellbeing/css/img/Activity-black.svg") no-repeat 95% center #f2f2f4;
  background-size: auto 1.4em;
  position: relative;
}
/* line 412, ../scss/style.scss */
.articles .Activity .views-field-nothing h2::before {
  border-color: transparent transparent transparent #da8b0a;
}
/* line 422, ../scss/style.scss */
.articles .Activity .views-field-nothing .btn:hover {
  color: #fff !important;
  background-color: #da8b0a;
  border-color: #da8b0a;
}
/* line 427, ../scss/style.scss */
.articles .Activity .views-field-nothing .btn:active {
  color: #fff;
  background: black;
  border-color: black;
}

/* line 404, ../scss/style.scss */
.articles .Opinion .views-field-nothing {
  background: #fff;
}
/* line 407, ../scss/style.scss */
.articles .Opinion .views-field-nothing h2 {
  background: url("/themes/communitywellbeing/css/img/Opinion-black.svg") no-repeat 95% center #f2f2f4;
  background-size: auto 1.4em;
  position: relative;
}
/* line 412, ../scss/style.scss */
.articles .Opinion .views-field-nothing h2::before {
  border-color: transparent transparent transparent #6f0021;
}
/* line 422, ../scss/style.scss */
.articles .Opinion .views-field-nothing .btn:hover {
  color: #fff !important;
  background-color: #6f0021;
  border-color: #6f0021;
}
/* line 427, ../scss/style.scss */
.articles .Opinion .views-field-nothing .btn:active {
  color: #fff;
  background: black;
  border-color: black;
}

/* line 443, ../scss/style.scss */
.flagging {
  width: 3em;
  position: relative;
}

/* line 449, ../scss/style.scss */
.flag a {
  font-size: 0;
  visibility: hidden;
}
/* line 452, ../scss/style.scss */
.flag a::after {
  font-size: 18px;
  position: absolute;
  top: 3px;
  right: 0;
  visibility: visible;
  content: url("/themes/communitywellbeing/css/img/thumbsup-black.svg");
}
/* line 460, ../scss/style.scss */
.flag a:hover::after {
  content: url("/themes/communitywellbeing/css/img/thumbsup-white-solid-black-stroke.svg");
}
/* line 463, ../scss/style.scss */
.flag a:active::after {
  content: url("/themes/communitywellbeing/css/img/thumbsup-black-solid.svg");
}
/* line 467, ../scss/style.scss */
.flag.action-unflag a::after {
  content: url("/themes/communitywellbeing/css/img/thumbsup-black-solid.svg");
}
/* line 470, ../scss/style.scss */
.flag.action-unflag a:hover::after {
  content: url("/themes/communitywellbeing/css/img/thumbsup-white-solid-black-stroke.svg");
}

/* line 476, ../scss/style.scss */
.count {
  color: #000;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 2em;
}

/* line 490, ../scss/style.scss */
body[class*="page-node-type-"] .sidebar-content {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
/* line 492, ../scss/style.scss */
body[class*="page-node-type-"] .sidebar-content strong {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
/* line 495, ../scss/style.scss */
body[class*="page-node-type-"] .sidebar-content .views-field {
  line-height: 1.2;
  margin-bottom: 7px;
}
/* line 499, ../scss/style.scss */
body[class*="page-node-type-"] .sidebar-content .views-field-type {
  float: left;
  width: 50%;
}
/* line 502, ../scss/style.scss */
body[class*="page-node-type-"] .sidebar-content .views-field-type h2 {
  text-indent: -999px;
  font-size: 30px;
  padding-top: 0.125em;
  padding-bottom: 0.125em;
  margin: 0;
}
/* line 510, ../scss/style.scss */
body[class*="page-node-type-"] .sidebar-content .page-type-symbol h2 {
  background-size: auto 1.2em;
}
/* line 517, ../scss/style.scss */
body[class*="page-node-type-"] .sidebar-content .Article h2 {
  background: url("/themes/communitywellbeing/css/img/Article-black.svg") no-repeat left center;
  background-size: auto 1.3em;
}
/* line 517, ../scss/style.scss */
body[class*="page-node-type-"] .sidebar-content .Interview h2 {
  background: url("/themes/communitywellbeing/css/img/Interview-black.svg") no-repeat left center;
  background-size: auto 1.3em;
}
/* line 517, ../scss/style.scss */
body[class*="page-node-type-"] .sidebar-content .Story h2 {
  background: url("/themes/communitywellbeing/css/img/Story-black.svg") no-repeat left center;
  background-size: auto 1.3em;
}
/* line 517, ../scss/style.scss */
body[class*="page-node-type-"] .sidebar-content .Activity h2 {
  background: url("/themes/communitywellbeing/css/img/Activity-black.svg") no-repeat left center;
  background-size: auto 1.3em;
}
/* line 517, ../scss/style.scss */
body[class*="page-node-type-"] .sidebar-content .Opinion h2 {
  background: url("/themes/communitywellbeing/css/img/Opinion-black.svg") no-repeat left center;
  background-size: auto 1.3em;
}
/* line 523, ../scss/style.scss */
body[class*="page-node-type-"] .sidebar-content .flagging {
  float: right;
  margin-right: 15px;
}
/* line 536, ../scss/style.scss */
body[class*="page-node-type-"].page-node-type-article .field--name-body h2,
body[class*="page-node-type-"].page-node-type-article .field--name-body h3,
body[class*="page-node-type-"].page-node-type-article .field--name-body h4 {
  color: #a86399;
}
/* line 543, ../scss/style.scss */
body[class*="page-node-type-"].page-node-type-article .field--label {
  color: #a86399;
}
/* line 536, ../scss/style.scss */
body[class*="page-node-type-"].page-node-type-interview .field--name-body h2,
body[class*="page-node-type-"].page-node-type-interview .field--name-body h3,
body[class*="page-node-type-"].page-node-type-interview .field--name-body h4 {
  color: #c93360;
}
/* line 543, ../scss/style.scss */
body[class*="page-node-type-"].page-node-type-interview .field--label {
  color: #c93360;
}
/* line 536, ../scss/style.scss */
body[class*="page-node-type-"].page-node-type-story .field--name-body h2,
body[class*="page-node-type-"].page-node-type-story .field--name-body h3,
body[class*="page-node-type-"].page-node-type-story .field--name-body h4 {
  color: #56145b;
}
/* line 543, ../scss/style.scss */
body[class*="page-node-type-"].page-node-type-story .field--label {
  color: #56145b;
}
/* line 536, ../scss/style.scss */
body[class*="page-node-type-"].page-node-type-activity .field--name-body h2,
body[class*="page-node-type-"].page-node-type-activity .field--name-body h3,
body[class*="page-node-type-"].page-node-type-activity .field--name-body h4 {
  color: #da8b0a;
}
/* line 543, ../scss/style.scss */
body[class*="page-node-type-"].page-node-type-activity .field--label {
  color: #da8b0a;
}
/* line 536, ../scss/style.scss */
body[class*="page-node-type-"].page-node-type-opinion .field--name-body h2,
body[class*="page-node-type-"].page-node-type-opinion .field--name-body h3,
body[class*="page-node-type-"].page-node-type-opinion .field--name-body h4 {
  color: #6f0021;
}
/* line 543, ../scss/style.scss */
body[class*="page-node-type-"].page-node-type-opinion .field--label {
  color: #6f0021;
}

/* line 548, ../scss/style.scss */
div[role=heading] {
  margin-bottom: 15px;
}
/* line 550, ../scss/style.scss */
div[role=heading] .top-bar-pagetype {
  padding-top: 15px;
}

@media all and (min-width: 768px) {
  /* line 556, ../scss/style.scss */
  .main-image {
    float: right;
    padding-right: 0;
    padding-left: 0;
  }
}
/* line 564, ../scss/style.scss */
.author-info {
  border-top: 3px #494948 solid;
  padding-top: 15px;
  margin-top: 20px;
}

/* line 570, ../scss/style.scss */
.content-tags .views-field-field-tags {
  margin-top: 15px;
  clear: both;
}
/* line 93, ../scss/component/_mixins.scss */
.content-tags .views-field-field-tags .menu, .content-tags .views-field-field-tags ul, .content-tags .views-field-field-tags li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 574, ../scss/style.scss */
.content-tags .views-field-field-tags li {
  margin: 0 5px 4px 0;
  display: inline-block;
  line-height: 1.5;
}
/* line 104, ../scss/component/_mixins.scss */
.content-tags .views-field-field-tags li a {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  color: #494948;
  background-color: #d6d6dd;
  padding: 3px 8px;
}
/* line 109, ../scss/component/_mixins.scss */
.content-tags .views-field-field-tags li a:hover {
  background-color: #e4e4e8;
  text-decoration: none;
}
/* line 113, ../scss/component/_mixins.scss */
.content-tags .views-field-field-tags li a:active {
  color: #fff;
  background-color: #818181;
  text-decoration: none;
}

/* line 586, ../scss/style.scss */
.form-type-search.form-group {
  background-image: none;
  border: 2px solid #98358c;
  border-radius: 8px;
  padding: 0;
}
/* line 591, ../scss/style.scss */
.form-type-search.form-group .description.help-block {
  display: none;
}
/* line 594, ../scss/style.scss */
.form-type-search.form-group .form-control {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  padding: 9px 12px 7px 12px;
  font-size: 18px;
  height: auto;
  color: #666;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0;
}
/* line 604, ../scss/style.scss */
.form-type-search.form-group .form-control:active, .form-type-search.form-group .form-control:focus, .form-type-search.form-group .form-control:-moz-focusring {
  outline: none;
  border: none;
}
/* line 610, ../scss/style.scss */
.form-type-search.form-group .form-control::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
/* line 614, ../scss/style.scss */
.form-type-search.form-group .form-control:-ms-input-placeholder {
  color: #ccc;
}
/* line 617, ../scss/style.scss */
.form-type-search.form-group .form-control::-webkit-input-placeholder {
  color: #ccc;
}
/* line 621, ../scss/style.scss */
.form-type-search.form-group .button.btn {
  padding: 12px;
  font-size: 18px !important;
  background-color: #98358c;
  border: none;
}
/* line 630, ../scss/style.scss */
.form-type-search.form-group .button.btn .glyphicon-search::before {
  color: #fff;
  content: "\e003";
  color: #da8b0a;
}
/* line 636, ../scss/style.scss */
.form-type-search.form-group .button.btn:hover .glyphicon-search::before {
  color: #fff;
}
/* line 642, ../scss/style.scss */
.region-search .form-type-search.form-group {
  border-color: #fff;
}
/* line 644, ../scss/style.scss */
.region-search .form-type-search.form-group .form-control {
  color: #fff;
}
/* line 646, ../scss/style.scss */
.region-search .form-type-search.form-group .form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
/* line 650, ../scss/style.scss */
.region-search .form-type-search.form-group .form-control:-ms-input-placeholder {
  color: #fff;
}
/* line 653, ../scss/style.scss */
.region-search .form-type-search.form-group .form-control::-webkit-input-placeholder {
  color: #fff;
}
/* line 657, ../scss/style.scss */
.region-search .form-type-search.form-group .button.btn {
  background-color: transparent;
}

/* line 662, ../scss/style.scss */
.region-search {
  clear: both;
  padding-top: 20px;
}
@media all and (min-width: 768px) {
  /* line 662, ../scss/style.scss */
  .region-search {
    width: 50%;
    float: right;
    clear: none;
  }
}

/* line 676, ../scss/style.scss */
.views-search-block {
  background-image: none;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 0;
}
/* line 681, ../scss/style.scss */
.views-search-block .input-group-addon {
  display: none;
}
/* line 682, ../scss/style.scss */
.views-search-block .form-item-search-api-fulltext {
  width: 85%;
  float: left;
  margin: 0;
}
/* line 686, ../scss/style.scss */
.views-search-block .form-control {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  padding: 9px 12px 7px 12px;
  font-size: 18px;
  height: auto;
  color: #fff;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0;
}
/* line 696, ../scss/style.scss */
.views-search-block .form-control:active, .views-search-block .form-control:focus, .views-search-block .form-control:-moz-focusring {
  outline: none;
  border: none;
}
/* line 702, ../scss/style.scss */
.views-search-block .form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
/* line 706, ../scss/style.scss */
.views-search-block .form-control:-ms-input-placeholder {
  color: #fff;
}
/* line 709, ../scss/style.scss */
.views-search-block .form-control::-webkit-input-placeholder {
  color: #fff;
}
/* line 713, ../scss/style.scss */
.views-search-block #edit-actions {
  float: right;
  width: 15%;
}
/* line 718, ../scss/style.scss */
.views-search-block .button.btn {
  float: right;
  margin-right: 0;
  padding: 12px;
  font-size: 0px !important;
  background-color: transparent;
  border: none;
  width: 100%;
}
/* line 728, ../scss/style.scss */
.views-search-block .button.btn .glyphicon-search::before {
  font-size: 18px !important;
  content: "\e003";
  color: #da8b0a;
}
/* line 734, ../scss/style.scss */
.views-search-block .button.btn:hover .glyphicon-search::before {
  color: #fff;
}
/* line 739, ../scss/style.scss */
.views-search-block.page-search {
  border-color: #98358c;
}
/* line 746, ../scss/style.scss */
.views-search-block.page-search #edit-actions {
  float: right;
}
/* line 749, ../scss/style.scss */
.views-search-block.page-search .form-control {
  color: #818181;
  width: 100%;
}
/* line 752, ../scss/style.scss */
.views-search-block.page-search .form-control::-moz-placeholder {
  color: #ccc;
}
/* line 755, ../scss/style.scss */
.views-search-block.page-search .form-control:-ms-input-placeholder {
  color: #ccc;
}
/* line 758, ../scss/style.scss */
.views-search-block.page-search .form-control::-webkit-input-placeholder {
  color: #ccc;
}
/* line 762, ../scss/style.scss */
.views-search-block.page-search .button.btn {
  background: #98358c;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 774, ../scss/style.scss */
.view-search .views-field-search-api-excerpt {
  margin-bottom: 0.5em;
}
/* line 777, ../scss/style.scss */
.view-search .search-info {
  color: #818181;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
/* line 782, ../scss/style.scss */
.view-search .views-field-field-tags {
  margin-bottom: 0.5em;
}
/* line 784, ../scss/style.scss */
.view-search .views-field-field-tags .field-content {
  margin: 0 5px 4px 0;
  display: inline-block;
}
/* line 104, ../scss/component/_mixins.scss */
.view-search .views-field-field-tags .field-content a {
  font-family: 'Inconsolata', monospace;
  font-weight: 400;
  color: #494948;
  background-color: #d6d6dd;
  padding: 3px 8px;
}
/* line 109, ../scss/component/_mixins.scss */
.view-search .views-field-field-tags .field-content a:hover {
  background-color: #e4e4e8;
  text-decoration: none;
}
/* line 113, ../scss/component/_mixins.scss */
.view-search .views-field-field-tags .field-content a:active {
  color: #fff;
  background-color: #818181;
  text-decoration: none;
}
/* line 788, ../scss/style.scss */
.view-search hr {
  margin: 1em 0;
  border-color: #818181;
}

/* line 794, ../scss/style.scss */
#edit-field-location-proximity .js-form-item-field-location-proximity-value,
#edit-field-location-proximity .proximity-filter-summary {
  display: none;
}

/* line 803, ../scss/style.scss */
.block-formblock-node {
  background: #f2f2f4;
  padding: 15px;
}
/* line 806, ../scss/style.scss */
.block-formblock-node .block-title {
  margin-top: 0;
}
/* line 809, ../scss/style.scss */
.block-formblock-node .form-file.form-control {
  width: auto;
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 816, ../scss/style.scss */
.block-formblock-node.organisation-upload {
  margin-top: 20px;
}

/* line 820, ../scss/style.scss */
.share-your-story {
  margin-bottom: 20px;
  position: relative;
}
/* line 822, ../scss/style.scss */
.share-your-story .field--type-text-with-summary {
  margin: 0;
}
/* line 826, ../scss/style.scss */
.share-your-story a {
  vertical-align: bottom;
  overflow: hidden;
  display: block;
}
/* line 831, ../scss/style.scss */
.share-your-story a img {
  vertical-align: bottom;
  width: 100%;
  display: block;
}
/* line 836, ../scss/style.scss */
.share-your-story a h2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 30px;
  color: #fff;
  margin: 0;
  padding: 10px 15px 0 15px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  background: #98358c;
  text-align: center;
  line-height: 1.1;
}
@media all and (max-width: 500px) {
  /* line 836, ../scss/style.scss */
  .share-your-story a h2 {
    font-size: 21px;
  }
}
/* line 852, ../scss/style.scss */
.share-your-story a h2 strong {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
/* line 854, ../scss/style.scss */
.share-your-story a h2 strong em {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* line 859, ../scss/style.scss */
.share-your-story a h2::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding-bottom: 10%;
  background: #98358c;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
@media all and (max-width: 500px) {
  /* line 859, ../scss/style.scss */
  .share-your-story a h2::after {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 50% 75%);
    clip-path: polygon(0% 0%, 100% 0%, 50% 75%);
  }
}
@media all and (min-width: 768px) {
  /* line 876, ../scss/style.scss */
  .share-your-story a img {
    width: 70%;
    margin-left: 30%;
  }
  /* line 880, ../scss/style.scss */
  .share-your-story a h2 {
    bottom: 0;
    right: auto;
    text-align: left;
    max-width: 30%;
    width: auto;
    font-size: 36px;
    display: flex;
    padding: 10px 15px;
  }
  /* line 889, ../scss/style.scss */
  .share-your-story a h2 strong {
    align-self: center;
  }
  /* line 892, ../scss/style.scss */
  .share-your-story a h2::after {
    position: absolute;
    top: 0;
    left: 100%;
    right: -20%;
    bottom: 0;
    -webkit-clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  }
}
@media all and (min-width: 1100px) {
  /* line 903, ../scss/style.scss */
  .share-your-story a img {
    -webkit-clip-path: polygon(0% 5%, 100% 5%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 5%, 100% 5%, 100% 100%, 0% 100%);
    width: 70%;
    margin-left: 30%;
    margin-top: -5%;
  }
}
