// @file
// Custom sass mixins
//
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

// Makes an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;
  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// Primary colours

$purple:rgb(152, 53, 140);
$darkpurple:rgb(86, 20, 91);
$orange:rgb(218, 139, 10);
$blue:#a8d1dc;
$black:rgb(73,73,72);
$lightgrey:#f2f2f4;
$midgrey:#d8d8e0;;
$darkgrey:#818181;
$trueblack:#000;

// Content type colours

$article:#a86399;
$interview:#c93360;
$story:#56145b;
//$event:#7986cc;
$opinion:#6f0021;
$activity:#da8b0a;


//$article:#b968c7;
////$interview:#f06292;
//$interview:rgb(211, 85, 123);
//$story:#52a4ba;
//$event:#7986cc;
//$opinion:#479c94;
//$activity:$event;

// Each loop colours
$colors: ( Article:$article, Interview:$interview, Story:$story, Activity:$activity, Opinion:$opinion );




@mixin article-base($color) {
    background: tint($color, 50%);
    article[role=article] {
        border-color: tint($color, 50%);
    }
}



$radius:10px;

.round-corners img ,
.round-corners {
        border-radius: $radius;
}



@mixin kill-list() {
	 .menu  , ul , li {
		margin: 0;
		padding: 0;
		list-style: none;
        
	}
}

@mixin tags() {
    margin: 0 5px 4px 0;
    display: inline-block;
    a {
        @include incon();
        color: $black;
        background-color: darken($lightgrey, 10%);
        padding: 3px 8px;
        &:hover {
            background-color: darken($lightgrey, 5%);
            text-decoration: none;
        }
        &:active {color: #fff;
            background-color: $darkgrey;
            text-decoration: none;
        }
    }
}


@mixin icon-font($content) {
	content: $content;
  font-family: 'wellbeing_icons';
	font-size:36px;
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


//@media (min-width:1200px){
//    .col-lg-1:nth-child(12n+1){clear:left;border: 1px red dotted}
//    .col-lg-2:nth-child(6n+1){clear:left;border: 1px red dotted}
//    .col-lg-3:nth-child(4n+1){clear:left;border: 1px red dotted}
//    .col-lg-4:nth-child(3n+1){clear:left;border: 1px red dotted}
//    .col-lg-6:nth-child(odd){clear:left;border: 1px blue dotted}
//}
//@media (min-width:992px) and (max-width:1199px){
//    .col-md-1:nth-child(12n+1){clear:left;border: 1px red dotted}
//    .col-md-2:nth-child(6n+1){clear:left;border: 1px red dotted}
//    .col-md-3:nth-child(4n+1){clear:left;border: 1px blue dotted}
//    .col-md-4:nth-child(3n+1){clear:left;border: 1px red dotted}
//    .col-md-6:nth-child(odd){clear:left;border: 1px red dotted}
//}
//@media (min-width:768px) and (max-width:991px){
//    .col-sm-1:nth-child(12n+1){clear:left;border: 1px red dotted}
//    .col-sm-2:nth-child(6n+1){clear:left;border: 1px red dotted}
//    .col-sm-3:nth-child(4n+1){clear:left;border: 1px red dotted}
//    .col-sm-4:nth-child(3n+1){clear:left;border: 1px green dotted}
//    .col-sm-6:nth-child(odd){clear:left;border: 1px red dotted}
//}
//@media (max-width:767px){
//    .col-xs-1:nth-child(12n+1){clear:left;border: 1px red dotted}
//    .col-xs-2:nth-child(6n+1){clear:left;border: 1px red dotted}
//    .col-xs-3:nth-child(4n+1){clear:left;border: 1px red dotted}
//    .col-xs-4:nth-child(3n+1){clear:left;border: 1px red dotted}
//    .col-xs-6:nth-child(odd){clear:left;border: 1px red dotted}
//}
//

