.region {
    a:link,
    a:visited {
        color: $purple;
        text-decoration: none
    }
    a:hover {
        text-decoration: underline;
        color: $darkpurple
    }
    .field p a:link,
    .field li a:link {
        text-decoration: underline;
    }
}

.breadcrumb {@include work(400);
    font-size: 0.9em;
    color: $darkgrey;
    padding: 0;
    margin: 0 0 1em 0;
    border-top: none;
    background: transparent;
    li {
        a:link,
        a:visited {
            color: $darkgrey;
            text-decoration: none;
        }
        a:hover,
        a:active {
            color: $black;
            text-decoration: underline;
        }
    }
    &>li+li:before {
        content: "> ";
        padding: 0 5px;
        color: #ccc;
    }
}



.navbar-toggle {
    float: left;
    border: none;
    border-radius: 0;
    margin-right: 10px;
    padding: 10px;
    .icon-bar {
        height: 3px;
        margin: 9px 0;
        width: 42px;
        background: $lightgrey;
        border-radius: 0px;
    }
    &:hover,
    &:active {
        background: transparent!important;
        cursor: pointer;
        .icon-bar {
            background: #fff;
        }
    }
}


.nav-label {
    color: $darkgrey;
    text-transform: uppercase;
    float: right;
    margin-right: 0.5em;
    line-height: 51px;
}

//.navbar-toggle {
//    clear: right
//}

.navbar-toggle {
    display: block;
}

.nav-label {
    display: block;
}

@media all and (max-width: 960px) {
    .navbar-btn.logo {
        //width: 150px;
    }
}

@media all and (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
    .nav-label {
        display: none
    }
}

    .navbar-collapse {
    background: #fff;
    .container-fluid {
        padding-top: 15px;
        padding-bottom: 15px;
    @include kill-list();
        .menu.nav li {line-height: 1.2;
            a {
                @include work(400);
                color: $black;
                font-size: 25px;
                text-transform: uppercase;
                position: relative;
                display: inline-block;
                padding: 2px 0;margin: 4px 0;
                &:hover {
                    color: $orange;
                    background: transparent;
                    text-decoration: none;
                }
                &:focus {
                    background: transparent;
                }
                &.is-active {
                    @include work(600);
                    color: $orange;
                    cursor: default;
                    border-bottom: 4px solid $orange;
                }
            }
            ul {
                padding-left: 0.5em;
                li {
                    a {text-transform: none;
                        font-size: 21px;
                        padding: 1px 0;
                        border-width:3px;
                    }
                    
                        li a {
                            font-size: 19px;
                             border-width:3px;

                    }
                }
            }
            .menu.nav li {
                line-height: 1;
                padding: 3px 0;
                float: none;
                display: block;
            }
        }
    }
}
    @media all and (min-width: 768px) {
    .navbar-collapse .menu.nav {
        float: none;
        display: flex!important;
        justify-content: space-around;
        @media all and (min-width: 960px) {
            justify-content: space-between;
        }
        >li {
            display: list-item;
            padding: 4px 0;
            text-align: left;
            a {margin:  0;
                display: block;
                padding: 0;
            }
            ul {display:none}
        }
        &:after,
        &:before {
            display: none
        }
    }
    /*/ === Sticky menu  === /*/
    .navbar-collapse.stickynav-active {
        box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.25);
        .container-fluid {
            transition: padding 0.125s ease-in;
            padding-top: 5px;
            padding-bottom: 5px;
            .menu.nav li a {
                padding: 1px 0 2px 0;
                transition: padding 0.125s ease-in;
            }
        }
    }
    .navbar-collapse:not(.stickynav-active) .container-fluid {
        transition: padding 0.125s ease-out;
        padding-top: 15px;
        padding-bottom: 15px;
        .menu.nav li a {
            padding: 3px 0 6px 0;
            transition: padding 0.125s ease-out;
        }
    }
    .is-stickynav.path-frontpage .main-container {
        padding-top: 7em;
    }
    .is-stickynav:not(.path-frontpage) .main-container {
        padding-top: 4.5em;
    }
}
/*/ === level-2-nav === /*/

.level-2-nav {
    display: none;
    @include kill-list();
    @include work(400);
    .menu.nav>li {
        float: none;
        >a {
            background: transparent;
            color: $black;
            padding: 0;
            display: inline-block;
            margin: 3px 0;
            &:hover {
                color: $orange;
                background: transparent;
                text-decoration: none;
            }
            &:focus {
                background: transparent;
            }
            &.is-active {
                @include work(500);
                color: $orange;
                cursor: default;
                border-bottom: 4px solid $orange;
            }
        }
    }
    @media all and (min-width: 768px) {
        display: block;
    }
}

/*/ === Footer site map === /*/

.sitemap_block {
    @include kill-list();
    ul.menu.nav>li {
        @include work(400);
        font-size: 19px;
        display: block;
        padding: 0 30px 0px 0;
        @media all and (min-width: 768px) {
            float:left;
        }
        a {
            color: $trueblack;
            //text-transform: uppercase;
            &:hover {
                text-decoration: underline
            }
        }
        ul.menu {padding:4px 0 8px 0;
            li {
                font-size: 16px;
                a {
                    margin: 3px 0;
                }
            }
        }
    }
}
/*/ === Fancy dancing hamburger === /*/

$speed: 200ms;
$easing: cubic-bezier(0.7, 0, 0, 0.7);

.navbar-toggle {background: transparent;
    overflow: hidden;
    .icon-bar {
        transition: opacity, transform;
        transition-duration: $speed;
        transition-timing-function: $easing;
    }
    &:not(.collapsed) {
        .icon-bar {
            &:nth-child(2) {
                transform: translateY(12px) rotate(45deg);
            }
            &:nth-child(3) {
                opacity: 0;
                transform: translateX(-100%);
            }
            &:nth-child(4) {
                transform: translateY(-12px) rotate(-45deg);
            }
        }
    }
    &:active {
        background: transparent;
    }
}






// === FORM COMPONENTS ===
.pagination > li > a, .pagination > li > span ,
.pager li > a, .pager li > span ,
.button,
 .btn {
    font-size: 120%;
    line-height: 1.1;
    color: $purple;
    @include work(600);
    text-transform: uppercase;
    border: 3px solid $purple;
    outline: none;
    display: inline-block;
    border-radius: 5px;
    padding: 0.25em 0.5em;
    text-decoration: none!important;
    transition: background 0.05s ease 0s;
    &:hover   {
        text-decoration: none;
        background: $purple;
        border-color: $purple;
        color: #fff!important;
        text-decoration: none!important;
        cursor: pointer;
    }
      &:focus  {
        //text-decoration: none;
        //background: $purple;
        //border-color: $purple;
        //color: #fff!important;
        //text-decoration: none!important;
        //cursor: pointer;
    }
    &:active {
        color: #fff!important;
        background: $darkpurple!important;
        border-color: $darkpurple!important;
        transition: all 0.05s linear;
        text-decoration: none!important;
        cursor: pointer;
        color: #fff;
    }
    &.small  {
        border-width: 2px;
        font-size: 110%;
    }
    &.verysmall ,
    &.media-library-open-button ,
    &.media-library-add-button  {
        border-width: 2px;
        font-size: 100%;
    }
    &.white {
        color: #fff;
        border-color: #fff;
        &:hover {
            color: $purple;
            background: #fff;
            border-color: #fff;
        }
    }
     
     &:not(.pull-right) {margin-right:1em;}
}

.btn .glyphicon.icon-before:not(.glyphicon-search),
.btn.icon-before .glyphicon:not(.glyphicon-search) {
    margin: 0;
    &::before {
        content: "";
    }
}
    
// === Mini pagers ===

.pager li > a,
.pager li > span {
    font-size: 110%;
    border-width:2px;
}

.pager li {
    &.previous:not(:last-child) {
        display: inline-block;
        width: 48.5%;
        a {
            float: right;
            margin-right: 0em;
            
        }
    }
    &.next:not(:first-child) {
        display: inline-block;
           width:48.5%;
        a {
            float: left;
            margin-left: 0em
        }
    }
    &.previous:last-child>a,
    &.next:first-child>a {
        float: none;
    }
    .more & a {
        color: $black;
        border-color: $black;
        background-color: transparent;
        &:hover {
            color: #fff;
            background-color: $black;
        }
    }
}

// === Full pagers ===

.pagination>li>a,
.pagination>li>span {
    font-size: 110%;
    border-width: 2px;
    border-radius: 0;
    border-collapse: separate;
    border-right-width: 1px;
    border-left-width: 1px;
    background-color: transparent;
    &[rel="last"] {
        border-right-width: 2px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    &[rel="first"] {
        border-left-width: 2px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .more &:not([title="Current page"]) {
        color: $black;
        border-color: $black;
        &:hover {
            color: #fff;
            background-color: $black;
        }
    }
    .more &[title="Current page"] {
        color: #fff;
        border-color: $black;
        background-color: $black;
        &:hover {
            color: #fff;
            background-color: $black;
        }
    }
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: $purple;
    border-color: $purple;
    .more & {
        //color: $black;
        // border-color: $black;
        &:hover {
            //color: $black;
            //background-color: $black;
            //border-color: $black;
        }
    }
}

 ul.dropdown-menu {
  display: block;
}